<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Signup</h3>
    <form action="">
        <label for="">Username</label>
        <input typ="text" id="username" name="username" placeholder="create a Username">
        <br>

        <label for="">First Name</label>
        <input typ="text" id="Fname" name="fname" placeholder="Enter Your First Name">
        <br>

        <label for="">Last Name</label>
        <input typ="text" id="Lname" name="lname" placeholder="Enter Your Last Name">
        <br>

        <label for="">Email</label>
        <input typ="text" id="email" name="email" placeholder="Enter Your Email">
        <br>

        <label for="">Password</label>
        <input typ="password" id="Pass1" name="pass1" placeholder="Enter Your Password">
        <br>

        <label for="">Confirm Your Password</label>
        <input typ="Password" id="username" name="pass2" placeholder="Confirm Your Password">
        
    </form>
</body>
</html>